<!DOCTYPE html>
<html ng-app="tributeApp">

<head>
  <meta charset="UTF-8">
  <title>Biography Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- build:css css/style.min.css -->
  <link rel="stylesheet" href="css/style.css">
  <!-- /build -->
</head>

<body scroll ng-controller="mainCtrl as main">
  <header class="main-header">
    <form class="search-form" id="search" ng-submit="newSearch()">
      <h2 class="form-title">read about</h2>
      <input class="search-input" placeholder="search" ng-model="title" autofocus>
      <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
      <i class="fa fa-chevron-down scroll scroll-down" ng-click="goTo('content-header')"></i>
    </form>
  </header>
  <main class="main">
    <section class="content-section" ng-controller="contentCtrl as content">
      <header class="content-header" id="content-header">
        <h2 class="content__title" ng-bind="title"></h2>
      </header>
      <div class="content__img-slides" ng-controller="imgCtrl">
        <div class="slide" ng-repeat="img in images">
          <img class="content__img" ng-src="{{ img.src }}" alt="Image of interest" ng-click="cycleNext()" ng-show="img.visible">
        </div>
      </div>
      <div class="content__body">
        <div class="content__text" ng-bind-html="content"></div>
        <div class="content__attribution">
          <h3 class="attribution__link"> <a class="attribution__link-tag" ng-href="https://en.wikipedia.org/{{pageId }}">source</a></h3>
          <p class="attribution__p">Courtesy of the Wikimedia API</p>
        </div>
      </div>
    </section>

    <i class="fa fa-chevron-up scroll scroll-up" ng-click="goTo('search')" ng-show="scrolled"></i>

  </main>


  <!-- build:js js/index.min.js -->
  <script src='js/lib/angular.min.js'></script>
  <script src='js/lib/angular-sanitize.min.js'></script>
  <script src="js/index.js"></script>
  <script src="js/Services/SmoothScrollService.js"></script>
  <script src="js/Controllers/MainCtrl.js"></script>
  <script src="js/Controllers/ContentCtrl.js"></script>
  <script src="js/Controllers/ImgCtrl.js"></script>
  <script src="js/Directives/ScrollDirective.js"></script>
  <!-- /build -->
  <script>
    WebFontConfig = {
      google: {
        families: ['Open Sans']
      }
    };
    (function(d) {
      var wf = d.createElement('script'),
        s = d.scripts[0];
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js';
      s.parentNode.insertBefore(wf, s);
    })(document);
  </script>

  <script>
    var cb = function() {
      var l = document.createElement('link'); l.rel = 'stylesheet';
      l.href = 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css';
      var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
        webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(cb);
    else window.addEventListener('load', cb);
  </script>



</body>

</html>