<!DOCTYPE html>
<html ng-app="tributeApp">

<head>
  <meta charset="UTF-8">
  <title>Biography Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- build:css inline ../dist/css/style.min.css -->
  <link rel="stylesheet" href="css/style.css">
  <!-- /build -->
</head>

<body>
  <section class="page" scroll ng-controller="mainCtrl as main">
    <header class="main-header" ng-controller="formCtrl">
      <form class="search-form" id="search-form" ng-submit="newSearch()" ng-class="{ formerror: !options.length }">
        <a class="main-header__titles" href="">
          <div class="main__title-icons">
            <i class="fa fa-user title-icon"></i>
            <i class="fa fa-globe title-icon"></i>
            <i class="fa fa-suitcase title-icon"></i>
          </div>
          <h1 class="main-header__title main-title">people, places, things</h1>
          <h3 class="main-header__title main-subtitle">distraction-free reading</h3>
        </a>
        <h2 class="form-title">read about</h2>
        <div class="search-box">
          <input class="search-input" name="search" list="search-options" placeholder="search" ng-model="query.title" autofocus ng-keyup="searchAutoComplete($event)">
          <datalist id="search-options">
            <select name="search">
              <option ng-repeat="option in options" ng-value="option"></option>
            </select>
          </datalist>
          <i class="fa fa-times erase" ng-click="emptySearch()"></i>
        </div>
        <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
        <span class="autocomplete-error">try another search term</span>
        <i class="fa fa-chevron-down scroll scroll-down" ng-click="goTo('content-header')" ng-class=" {'scroll-bounce': result.queryComplete} "></i>
      </form>
    </header>
    <main class="main">
      <section class="content-section" ng-controller="contentCtrl as content">
        <header class="content-header" id="content-header">
          <h2 class="content__title" ng-bind="query.title"></h2>
        </header>
        <div class="content__img-slides" ng-controller="imgCtrl" ng-show="images.length">
          <div class="slide" ng-repeat="img in images">
            <img class="content__img" ng-src="{{ img.src }}" alt="Image of interest" ng-click="cycleNext()" ng-show="img.visible">
          </div>
          <span class="img-caption">click to see more</span>
        </div>
        <div class="content__body">
          <div class="content__text" ng-bind-html="result.content"></div>
          <div class="content__attribution">
            <h3 class="attribution__link"> <a class="attribution__link-tag" ng-href="https://en.wikipedia.org/{{result.pageId}}">source</a></h3>
            <p class="attribution__p">Courtesy of the Wikimedia API</p>
          </div>
        </div>
      </section>

      <i class="fa fa-chevron-up scroll scroll-up scroll-bounce" ng-click="goTo('search-form')" ng-show="scrolled"></i>
    </main>

  </section>


  <!-- build:js inline ../dist/js/index.min.js -->
  <script src='js/lib/angular.min.js'></script>
  <script src='js/lib/angular-sanitize.min.js'></script>
  <script src="js/index.js"></script>
  <script src="js/Services/SmoothScrollService.js"></script>
  <script src="js/Controllers/MainCtrl.js"></script>
  <script src="js/Controllers/FormCtrl.js"></script>
  <script src="js/Controllers/ContentCtrl.js"></script>
  <script src="js/Controllers/ImgCtrl.js"></script>
  <script src="js/Directives/ScrollDirective.js"></script>
  <!-- /build -->

  <script>
    var cb = function() {
      var l = document.createElement('link'); l.rel = 'stylesheet';
      l.href = 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css';
      var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
        webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(cb);
    else window.addEventListener('load', cb);
  </script>



</body>

</html>